* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ffe227;
  font-size: 50px;
  font-family: "Gamja Flower", cursive;
}

#root {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto 55px;
  grid-template-columns: 10% auto 10%;
}

header {
  background-color: #121013;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
  height: 10%;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-columns: 50% 50%;
}

.menu {
  grid-column-start: 2;
  right: 5px;
  top: 5px;
  width: 48px;
}

.listText {
  color: black;
}

.board {
  grid-row-start: 2;
  grid-row-end: 2;
  margin: auto;
  margin-top: 40px;
  grid-column-start: 2;
  grid-column-end: 2;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  perspective: 1000px;
}

.card {
  background-color: black;
  width: 200px;
  height: 250px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip,
.card.guessed {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #ffe227;
  color: white;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.school-link {
  grid-column-start: 1;
  margin: auto;
}

footer p {
  grid-column-start: 2;
  margin: auto;
  font-size: 15px;
}

.github-link {
  grid-column-start: 3;
  margin: auto;
}

/* footer div {
  display: inline-block;
  margin: auto;
} */

/* MODAL */

.modal {
  width: 500px;
  background: #4d375d;
  color: white;
  transition: 1.1s ease-out;
  margin: auto;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  /* &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none; */
}
h2 {
  padding: 1rem;
  margin: 0;
}
.content {
  text-align: center;
  padding: 1rem;
}
.actions {
  padding: 0.5rem 1rem;
}

.toggle-button {
  border: 0;
  background: #eb596e;
  color: white;
  margin-left: 40%;
  /* border-radius: 5px; */
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

/* #centered-toggle-button {
  position: absolute;
} */
